body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 600px;
  height: 800px;
}

.calculator .display {
  background-color: #333;
  height: 70px;
  width: 100%;
  margin-top: 60px;
  color: white;
  font-size: 52px;
  text-align: end;
}

.calculator .operations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-area: 10px;
  margin-top: 20px;
}

.calculator .operations .equals {
  grid-column: 4/5;
  grid-row: 2/6;
  background-color: #3925eb !important;
}

.calculator .operations .equals:hover {
  background-color: lightblue !important;
}

.calculator .operations #ac {
  background-color: red;
  color: #fff;
}

.calculator .operations #ac:hover {
  background-color: #333;
}

.calculator .operations .item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  border-radius: 5px;
  background-color: lightgray;
  border: 1px solid #333;
  font-size: 30px;
  padding: 12px 0;
  font-weight: 600;
  cursor: pointer;
  -o-user-select: none;
  user-select: none;
}

.calculator .operations .item:hover {
  background-color: #fff;
  border: 1px solid #333;
}
